/* Tipografía */
/* 1rem = 10px */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { /* Tipografía para todo el doc */
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
}


/* HEADER Y NAV */
header { 
    background-color: #005496;
}

h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    font-weight: bolder;
}


@media screen and (min-width: 1280px) {
    .navmobile {
        display: none;
    }

}

@media screen and (max-width: 1279px) {
    .navpc {
        display: none;
    }

    .listanavmobile {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0px 10px 0px 10px;
    }

    .listanavmobile a {
        padding: 0px 20px 0px 20px;
    }
    .navmobile {
        display: grid;
        align-content: center;
        justify-items: center;
        justify-content: center;
    }

}

header nav {
    font-size: 2.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listanav {
    list-style: none;
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.logo {
    width: 200px;
    padding: 20px;
}
/*  */

h2 { /* Títulos */
    color: #005496;
    font-size: 3rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

h3 { /* Subtítulo */
    color: white;
    font-size: 2rem;
    font-weight: normal;
}

h4 { /* Título producto */
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
}

p {
    color: #2d2d2d;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
}

.banner {
    background-image: url(../src/Banner.png);
    height: 500px;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productos {
    display: flex;
    justify-content: space-around;
}

.productos h4 {
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    padding: 80% 0 0 0;
}

.dvh {
    background-image: url(../src/dvh.png);
    background-size: cover;
    width: 500px;
    height: 500px;
}

.laminado {
    background-image: url(../src/laminado.png);
    background-size: cover;
    width: 500px;
    height: 500px;
}

.templado {
    background-image: url(../src/templado.png);
    background-size: cover;
    width: 500px;
    height: 500px;
}

.obras {
    padding: 50px;
}

.obras img {
    width: 100%;
    height: 100%;
}



.representantes {
    background-color: #3d3d3d;
    color: white;
    height: 150px;
}

.listarepre {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer, .footercontacto p{
    background-color : #2d2d2d;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 50px;
    color: white;
    font-size: 1.5rem;
}

.footercontacto {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.listafooter1 {
    list-style: none;
}


.redes {
    width: 2rem;
}

.inputscontacto {
    color:#005496;
    font-size: 2.5rem;
}

.titulomaderas {
    color: #AFA16A;
}

.productosmaderas {
    color: #AFA16A;
}

.descripcionmaderas {
    color: #AFA16A;
    font-size: 2rem;
}

.titulosvidrios {
    color:#005496;
}