@use 'variablesynavfooter' as*;
@use 'index' as*;
@use 'nosotros' as*;
@use 'contacto' as*;
@use 'maderas' as*;
@use 'vidrios' as*;

@media screen and (max-width: 768px) {
html {
    header {
        .navfinal {
        @include flex-medio;
            font-size: 1.3rem;

            .listanav {
                list-style: none;
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 0px 10px 0px 10px;

                a {
                        padding: 0px 20px 0px 20px;
                }
            }
        }
    }
    

        .productos {
            flex-direction: column;
            align-items: center;
            gap: 50px;

            .dvh, .laminado, .templado {
                width: 100%;
                height: 100%;
            }
        }

        .listarepre {
            flex-direction: column;
            flex-wrap: wrap;
            gap: 20px;
            padding: 10px;
        }

        footer {
            @include flex-medio;
            align-items: center;
            gap: 20px;

            .footercontacto {
                flex-direction: row;
            }
        }

        .mainnosotros {
            grid-template-columns: 1fr;
            align-items: center;
            justify-items: center;

            .titulonosotros {
                grid-column: 1 / -1;
            }

            .imgnosotros {
                width: 100%;
                height: auto;
            }
        }
}

@media screen and (max-width: 480px) {
        header {
            .navfinal {
                .listanav {
                font-size: 0.7rem;
                white-space: nowrap;
                padding: 0px;
                }
            }
        }
    
            .btn-lg {
                font-size: 1rem;
            }

        .mainnosotros {
            grid-template-columns: 1fr;
            align-items: center;
            justify-items: center;

            .titulonosotros {
                grid-column: 1 / -1;
            }

            .imgnosotros {
                width: 100%;
                height: auto;
            }
        }
    }
}